%% -*- erlang -*-

 {require_otp_vsn, "R15|R16"}.
 {require_min_otp_vsn, "R15B03"}.

 {erl_opts, [
             bin_opt_info,
            %compressed
             debug_info,
             warnings_as_errors
            ]}.

 {port_specs, [
               {"x86_64-.*-darwin",
                "priv/lib/embstring_drv.so", [
                                              "c_src/embstring.c"
                                             ]}
              ]}.

 {port_env, [
             %% == gcc ==
            %{"DRV_CFLAGS", "$DRV_CFLAGS -g -Wall -fPIC"},
             {"DRV_CFLAGS", "$DRV_CFLAGS -std=c99"},
             {"DRV_CFLAGS", "$DRV_CFLAGS -Wextra -Wstrict-prototypes"},
            %{"DRV_CFLAGS", "$DRV_CFLAGS -fno-common"},
             %% == libmbfl ==
             {"DRV_CFLAGS", "$DRV_CFLAGS -Ipriv/include"},
             {"DRV_LDFLAGS", "$DRV_LDFLAGS -Lpriv/lib -lmbfl"}
            ]}.

 {clean_files, [
                "ebin", "erl_crash.dump",
                ".eunit"
               ]}.
