%% -*- erlang -*-

 {erl_opts, [debug_info]}.

 {port_env, [
             {"DRV_CFLAGS", "$DRV_CFLAGS -Wextra -Werror -I/opt/tools/libmbfl/20120204/include"},
             {"DRV_LDFLAGS", "$DRV_LDFLAGS -L/opt/tools/libmbfl/20120204/lib -lmbfl"}
            ]}.

 {port_specs, [
               {"priv/lib/embstring_drv.so", ["c_src/embstring.c"]}
              ]}.

 {clean_files, ["ebin", "doc", "priv", "erl_crash.dump",
                ".eunit", "*/*.*~", "**/*.*~"]}.

%{deps_dir, ["deps"]}.
%{deps, [
%        {libmbfl, ".*", {git,"git://github.com/moriyoshi/libmbfl.git","master"}}
%       ]}.
