%% -*- erlang -*-

 {require_otp_vsn, "R15|R16"}.

 {erl_opts, [debug_info]}.

 {port_env, [
             %% == libmbfl ==
             {"CFLAGS", "$CFLAGS -Ipriv/include"},
             {"LDFLAGS", "$LDFLAGS -Lpriv/lib -lmbfl"}
            ]}.

 {port_specs, [
               {"priv/lib/embstring_drv.so", ["c_src/embstring.c"]}
              ]}.

 {clean_files, ["ebin", "doc", "priv", "erl_crash.dump", ".eunit",
                "*.*~", "*/*.*~", "**/*.*~"]}.
